<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @observation.student_id %>
</p>

<p>
  <strong>Date on:</strong>
  <%= @observation.date_on %>
</p>

<p>
  <strong>Name:</strong>
  <%= @observation.name %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @observation.birthdate %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @observation.grade %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @observation.teacher %>
</p>

<p>
  <strong>Allergies:</strong>
  <%= @observation.allergies %>
</p>

<p>
  <strong>Diet:</strong>
  <%= @observation.diet %>
</p>

<p>
  <strong>Sleep:</strong>
  <%= @observation.sleep %>
</p>

<p>
  <strong>Elimination:</strong>
  <%= @observation.elimination %>
</p>

<p>
  <strong>Concerns:</strong>
  <%= @observation.concerns %>
</p>

<p>
  <strong>Stability:</strong>
  <%= @observation.stability %>
</p>

<p>
  <strong>Parent histories:</strong>
  <%= @observation.parent_histories %>
</p>

<p>
  <strong>Household members:</strong>
  <%= @observation.household_members %>
</p>

<p>
  <strong>Community supports:</strong>
  <%= @observation.community_supports %>
</p>

<p>
  <strong>Interaction patterns:</strong>
  <%= @observation.interaction_patterns %>
</p>

<p>
  <strong>Well attuned:</strong>
  <%= @observation.well_attuned %>
</p>

<p>
  <strong>Avoidant:</strong>
  <%= @observation.avoidant %>
</p>

<p>
  <strong>Vigilant:</strong>
  <%= @observation.vigilant %>
</p>

<p>
  <strong>Over stimulating:</strong>
  <%= @observation.over_stimulating %>
</p>

<p>
  <strong>Sensory registration:</strong>
  <%= @observation.sensory_registration %>
</p>

<p>
  <strong>Sensory orientation:</strong>
  <%= @observation.sensory_orientation %>
</p>

<p>
  <strong>Sensory interpretation:</strong>
  <%= @observation.sensory_interpretation %>
</p>

<p>
  <strong>Response organization:</strong>
  <%= @observation.response_organization %>
</p>

<p>
  <strong>Response execution:</strong>
  <%= @observation.response_execution %>
</p>

<p>
  <strong>Adaptability:</strong>
  <%= @observation.adaptability %>
</p>

<p>
  <strong>Sensory threshold:</strong>
  <%= @observation.sensory_threshold %>
</p>

<p>
  <strong>Sensory seeking behaviors:</strong>
  <%= @observation.sensory_seeking_behaviors %>
</p>

<p>
  <strong>Shares attention:</strong>
  <%= @observation.shares_attention %>
</p>

<p>
  <strong>Regulation:</strong>
  <%= @observation.regulation %>
</p>

<p>
  <strong>Engagement:</strong>
  <%= @observation.engagement %>
</p>

<p>
  <strong>Interactions:</strong>
  <%= @observation.interactions %>
</p>

<p>
  <strong>Individuation:</strong>
  <%= @observation.individuation %>
</p>

<p>
  <strong>Mood:</strong>
  <%= @observation.mood %>
</p>

<p>
  <strong>Solves problems:</strong>
  <%= @observation.solves_problems %>
</p>

<p>
  <strong>Imagination:</strong>
  <%= @observation.imagination %>
</p>

<p>
  <strong>Creativity:</strong>
  <%= @observation.creativity %>
</p>

<p>
  <strong>Reasoning:</strong>
  <%= @observation.reasoning %>
</p>

<p>
  <strong>Links emotions:</strong>
  <%= @observation.links_emotions %>
</p>

<p>
  <strong>Perspective:</strong>
  <%= @observation.perspective %>
</p>

<p>
  <strong>Multicausal thinking:</strong>
  <%= @observation.multiCausal_thinking %>
</p>

<p>
  <strong>Selfreflective thinking:</strong>
  <%= @observation.selfReflective_thinking %>
</p>

<%= link_to 'Edit', edit_observation_path(@observation) %> |
<%= link_to 'Back', observations_path %>
