<p id="notice"><%= notice %></p>

<p>
  <strong>Student,:</strong>
  <%= @developmental_level.student, %>
</p>

<p>
  <strong>Date:</strong>
  <%= @developmental_level.date %>
</p>

<p>
  <strong>Recorder,:</strong>
  <%= @developmental_level.recorder, %>
</p>

<p>
  <strong>Fba not present,:</strong>
  <%= @developmental_level.fba_not_present, %>
</p>

<p>
  <strong>Fba fleeting,:</strong>
  <%= @developmental_level.fba_fleeting, %>
</p>

<p>
  <strong>Fba constricted,:</strong>
  <%= @developmental_level.fba_constricted, %>
</p>

<p>
  <strong>Fba stable,:</strong>
  <%= @developmental_level.fba_stable, %>
</p>

<p>
  <strong>Ibc not present,:</strong>
  <%= @developmental_level.ibc_not_present, %>
</p>

<p>
  <strong>Ibc fleeting,:</strong>
  <%= @developmental_level.ibc_fleeting, %>
</p>

<p>
  <strong>Ibc constricted,:</strong>
  <%= @developmental_level.ibc_constricted, %>
</p>

<p>
  <strong>Ibc stable,:</strong>
  <%= @developmental_level.ibc_stable, %>
</p>

<p>
  <strong>Sm not present,:</strong>
  <%= @developmental_level.sm_not_present, %>
</p>

<p>
  <strong>Sm fleeting,:</strong>
  <%= @developmental_level.sm_fleeting, %>
</p>

<p>
  <strong>Sm constricted,:</strong>
  <%= @developmental_level.sm_constricted, %>
</p>

<p>
  <strong>Sm stable,:</strong>
  <%= @developmental_level.sm_stable, %>
</p>

<p>
  <strong>P not present,:</strong>
  <%= @developmental_level.p_not_present, %>
</p>

<p>
  <strong>P fleeting,:</strong>
  <%= @developmental_level.p_fleeting, %>
</p>

<p>
  <strong>P constricted,:</strong>
  <%= @developmental_level.p_constricted, %>
</p>

<p>
  <strong>P stable,:</strong>
  <%= @developmental_level.p_stable, %>
</p>

<p>
  <strong>D not present,:</strong>
  <%= @developmental_level.d_not_present, %>
</p>

<p>
  <strong>D fleeting,:</strong>
  <%= @developmental_level.d_fleeting, %>
</p>

<p>
  <strong>D constricted,:</strong>
  <%= @developmental_level.d_constricted, %>
</p>

<p>
  <strong>D stable,:</strong>
  <%= @developmental_level.d_stable, %>
</p>

<p>
  <strong>Wo not present,:</strong>
  <%= @developmental_level.wo_not_present, %>
</p>

<p>
  <strong>Wo fleeting,:</strong>
  <%= @developmental_level.wo_fleeting, %>
</p>

<p>
  <strong>Wo constricted,:</strong>
  <%= @developmental_level.wo_constricted, %>
</p>

<p>
  <strong>Wo stable,:</strong>
  <%= @developmental_level.wo_stable, %>
</p>

<p>
  <strong>Time:</strong>
  <%= @developmental_level.time %>
</p>

<%= link_to 'Edit', edit_developmental_level_path(@developmental_level) %> |
<%= link_to 'Back', developmental_levels_path %>
