<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @student.birthdate %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @student.grade %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @student.teacher %>
</p>

<p>
  <strong>Allergies:</strong>
  <%= @student.allergies %>
</p>

<p>
  <strong>Diet:</strong>
  <%= @student.diet %>
</p>

<p>
  <strong>Sleep:</strong>
  <%= @student.sleep %>
</p>

<p>
  <strong>Elimination:</strong>
  <%= @student.elimination %>
</p>

<p>
  <strong>Concerns:</strong>
  <%= @student.concerns %>
</p>

<p>
  <strong>Stability:</strong>
  <%= @student.stability %>
</p>

<p>
  <strong>Parent histories:</strong>
  <%= @student.parent_histories %>
</p>

<p>
  <strong>Household members:</strong>
  <%= @student.household_members %>
</p>

<p>
  <strong>Community supports:</strong>
  <%= @student.community_supports %>
</p>

<p>
  <strong>Interaction patterns:</strong>
  <%= @student.interaction_patterns %>
</p>

<p>
  <strong>Well attuned:</strong>
  <%= @student.well_attuned %>
</p>

<p>
  <strong>Avoidant:</strong>
  <%= @student.avoidant %>
</p>

<p>
  <strong>Vigilant:</strong>
  <%= @student.vigilant %>
</p>

<p>
  <strong>Over stimulating:</strong>
  <%= @student.over_stimulating %>
</p>

<p>
  <strong>Sensory registration:</strong>
  <%= @student.sensory_registration %>
</p>

<p>
  <strong>Sensory orientation:</strong>
  <%= @student.sensory_orientation %>
</p>

<p>
  <strong>Sensory interpretation:</strong>
  <%= @student.sensory_interpretation %>
</p>

<p>
  <strong>Response organization:</strong>
  <%= @student.response_organization %>
</p>

<p>
  <strong>Response execution:</strong>
  <%= @student.response_execution %>
</p>

<p>
  <strong>Adaptability:</strong>
  <%= @student.adaptability %>
</p>

<p>
  <strong>Sensory threshold:</strong>
  <%= @student.sensory_threshold %>
</p>

<p>
  <strong>Sensory seeking behaviors:</strong>
  <%= @student.sensory_seeking_behaviors %>
</p>

<p>
  <strong>Shares attention:</strong>
  <%= @student.shares_attention %>
</p>

<p>
  <strong>Regulation:</strong>
  <%= @student.regulation %>
</p>

<p>
  <strong>Engagement:</strong>
  <%= @student.engagement %>
</p>

<p>
  <strong>Interactions:</strong>
  <%= @student.interactions %>
</p>

<p>
  <strong>Individuation:</strong>
  <%= @student.individuation %>
</p>

<p>
  <strong>Mood:</strong>
  <%= @student.mood %>
</p>

<p>
  <strong>Solves problems:</strong>
  <%= @student.solves_problems %>
</p>

<p>
  <strong>Imagination:</strong>
  <%= @student.imagination %>
</p>

<p>
  <strong>Creativity:</strong>
  <%= @student.creativity %>
</p>

<p>
  <strong>Reasoning:</strong>
  <%= @student.reasoning %>
</p>

<p>
  <strong>Links emotions:</strong>
  <%= @student.links_emotions %>
</p>

<p>
  <strong>Perspective:</strong>
  <%= @student.perspective %>
</p>

<p>
  <strong>Multicausal thinking:</strong>
  <%= @student.multiCausal_thinking %>
</p>

<p>
  <strong>Selfreflective thinking:</strong>
  <%= @student.selfReflective_thinking %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
