<!-- %= "#{@student.name}" % -->
<br>

<table>
  <tr>
	<th width=200px>Behavior</th>
	<th>Assessments</th>
  </tr>
  <tr>
  	<td><h3> <%= "Facilitated by adult"%> </td>
  	<td><h3> <%= "#{@student.getProgress('facilitated_by_adult').chomp('-')}" %></h3></td>
  </tr>

  <tr>
    <td><h3> <%= "Initiated by child" %> </td>
    <td><h3> <%= "#{@student.getProgress('initiated_by_child').chomp('-')}" %></h3>  </td>
  </tr>
  <tr>
    <td><h3> <%= "Sensory motor" %> </td>
    <td><h3> <%= "#{@student.getProgress('sensory_motor').chomp('-')}" %></h3>  </td>
  </tr>
  
  <tr>
    <td><h3> <%= "Pleasure" %> </td>
    <td><h3> <%= "#{@student.getProgress('pleasure').chomp('-')}" %></h3> </td>
  </tr>
  
  <tr>
    <td><h3> <%= "Displeasure" %> </td>
    <td><h3> <%= "#{@student.getProgress('displeasure').chomp('-')}" %></h3> </td>
  </tr>
  
  <tr>
    <td><h3> <%= "With object" %> </td>
    <td><h3> <%= "#{@student.getProgress('with_object').chomp('-')}" %></h3> </td>
  </tr>

  <tr>
    <td><h3> <%= "Sensory motor play" %> </td>
    <td><h3> <%= "#{@student.getProgress('sensory_motor_play').chomp('-')}" %></h3> </td>
  </tr>

  <tr>
    <td><h3> <%= "Representational play" %> </td>
    <td><h3> <%= "#{@student.getProgress('representational_play').chomp('-')}" %></h3> </td>
  </tr>

  <tr>
    <td><h3> <%= "With Adult Support" %> </td>
    <td><h3> <%= "#{@student.getProgress('with_adult_support').chomp('-')}" %></h3> </td>
  </tr>

  <tr>
    <td><h3> <%= "Independently" %> </td>
    <td><h3> <%= "#{@student.getProgress('independently').chomp('-')}" %></h3> </td>
  </tr>

  <tr>
    <td><h3> <%= "Across Contexts A1" %> </td>
    <td><h3> <%= "#{@student.getProgress('cross_context_1').chomp('-')}" %></h3> </td>
  </tr>

  <tr>
    <td><h3> <%= "Across Contexts 2" %> </td>
    <td><h3> <%= "#{@student.getProgress('cross_context_2').chomp('-')}" %></h3> </td>
  </tr>

  <tr>
    <td><h3> <%= "Across Contexts 3" %> </td>
    <td><h3> <%= "#{@student.getProgress('cross_context_3').chomp('-')}" %></h3> </td>
  </tr>

  <tr>
    <td><h3> <%= "Across Contexts 4" %> </td>
    <td><h3> <%= "#{@student.getProgress('cross_context_4').chomp('-')}" %></h3> </td>
  </tr>


</table>


